service: jra-ticket-schedule-api

provider:
  name: aws
  runtime: python3.13
  region: ap-northeast-1

  deploymentBucket:
    name: ${env:S3_DEPLOYMENT_BUCKET}

  environment:
    GOOGLE_PROJECT_ID: ${env:GOOGLE_PROJECT_ID}
    GOOGLE_PRIVATE_KEY_ID: ${env:GOOGLE_PRIVATE_KEY_ID}
    GOOGLE_PRIVATE_KEY: ${env:GOOGLE_PRIVATE_KEY}
    GOOGLE_SERVICE_ACCOUNT_EMAIL: ${env:GOOGLE_SERVICE_ACCOUNT_EMAIL}
    GOOGLE_CLIENT_ID: ${env:GOOGLE_CLIENT_ID}
    GOOGLE_CLIENT_CERT_URL: ${env:GOOGLE_CLIENT_CERT_URL}
    CALENDAR_ID: ${env:CALENDAR_ID}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
          Resource: "arn:aws:logs:*:*:*"

  tags:
    Project: jra-calendar-api
    ManagedBy: serverless

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: non-linux
    requirementsPath: lambda/requirements.txt
    noDeploy:
      - coverage
      - pytest

functions:
  get-jra-calendar:
    handler: src/main.lambda_handler
    url: true
